html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.btn {
    width: 200px;
    height: 30px;
    margin: 20px auto;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid black;
}

.btn:active {
    background-color: rgb(215, 215, 215);
    transition: all 0.5s;
}

.circles-list {
    position: relative;
    width: 100%;
    flex-grow: 1;
    border: 1px solid black;
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}